body{
    background-image:url(https://images.unsplash.com/photo-1504608524841-42fe6f032b4b?ixid=MnwxMjA3fDB8MHxzZWFyY2h8OTB8fHN1bnNldHxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60) ;
    background-size: cover;
    background-repeat: no-repeat;
    margin:0;
}
#container{
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(rgba(207, 194, 190, 0.6),rgba(41, 38, 38, 0.39));
    min-height: 100vh;
}
#header{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
#input{
    background-color:rgba(153, 149, 158, 0.86);
    border-radius: 20px;
    border:3px solid #CDF3A2;
    padding: 15px;
    font-size: 20px;
}
#input:focus{
    background-color:#FFF;
}
#when-where{
    display:flex;
    flex-direction:column;
    align-items: center;
}
#city{
    color:#FFF;
    font-size: 45px;
}
#date{
    color:#FFF;
    font-size: 24px;
}
#now{
    display:flex;
    flex-direction:column;
    align-items: center; 
}
#temperature{
    color:#FFF;
    font-size: 110px;
    font-weight:bold;
    text-shadow:5px 10px black;
    margin:0px;
}
#feelsLike{
    color:#FFF;
    font-size:30px;
    font-weight:bold;
}
#conditions{
    color:#FFF;
    font-size:32px;
    font-weight:bold;
    font-style: italic;
}
#variation{
    color:#FFF;
    font-size:26px;
    font-weight:bold;
}
